.search-form {
    width: 100px;
}

input {
    background: #fff url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 60px;
    border-radius: 5px;
}

input:focus {
    width: 180px;
    background-color: #fff;
    border-color: cyan;
}