li {
    font: 20px;
    font-weight: bold;
    list-style: none;
}

#nav ul li {
    color: black;
    text-decoration: none;
}

#dropdown-content li a {
    color: gray;
    text-decoration: none;
}

#dropdown-content {
    display: none;
}

#dropdown:hover #dropdown-content {
    display: block;
}